#projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#projetos h1{
    font-family: var(--titulo);
    color: var(--laranja);
    font-size: 80px;
}

#projetos__lista{
    display: flex;
    justify-content: center;
    gap: 13px;
    flex-wrap: wrap;
}

#projetos__lista li{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    padding: 1rem 3rem;
    border-radius: 10px;
    background-color: var(--cinza);
    font-family: var(--fonte-secundaria);
    text-align: center;
    max-width: 400px;
}

.projeto__descricao{
    margin: 10px 0;
}

.link{
    padding: 3px 30px;
    color: white;
    background-color: #349dd1;
}

.link:nth-child(2){
    background-color: var(--preto);
}

.fundo__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #e0632b;
}

.fundo__logo-react{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: #4ea6be;
}

.fundo__logo:nth-child(2){
    background-color: #349dd1;
}
.fundo__logo:nth-child(3){
    background-color: #f0d81e;
}

.logos__div{
    display: flex;
    gap: 10px;
}

.projeto__img{
    width: 300px;
}

.logo__projetos{
    width: 25px;
}